{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Patrick's Page</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'website/css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="header text-center">
      <img src="{% static 'website\img\headshot.png' %}" width="120px" class="headshot">
      <h1>Patrick Sriprachandr</h1>
      <p class="lead">My blog/dev/profolio webpage</p>
      <p class="lead">More features to come!</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About me</h2>
          <p class="lead">
            Thanks for visiting my page! I'm learning different front end and web frameworks and this is what I've come up with so far. 
            This page was made with Django and a mobile-first Bootstrap theme called "Scrolling Nav." This site is hosted on an Apache server on an AWS
            Lightsail instance with an Ubuntu image. Development is on my local machine, but gets pushed to AWS later. All done by me!
            Some of my other hobbies include:
          </p>
          <ul>
            <li>Video Games, currently playing lots of Apex Legends</li>
            <li>Music production, I produced an EP available on <a href="https://nomadpat.bandcamp.com/album/contrast-2">Bandcamp</a></li>
            <li>Content creation, I had a YouTube channel with some video a long time ago, but it is something I'd love to get back into!</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Updates</h2>
          <p class="lead">Just graduated with a CS Degree at CSUSM! Woo!</p>
          <p class="lead">Check back later for more updates!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact me</h2>
          <p class="lead">
            <img src="{% static 'website\img\note.svg' %}" width="20px">
            psriprac@gmail.com
          </p>
          <p class="lead">
            <img src="{% static 'website\img\phone.svg' %}" width="20px">
            (619) 733-7222
          </p>
          <p class="lead"></p>
          <div class="social-bar">
            <a href="https://github.com/psripac" target="_blank">
            <img src="{% static 'website\img\Github_5.svg' %}" width="45px"></a>
            <a href="https://www.linkedin.com/in/patrick-sriprachandr/" target="_blank">
            <img src="{% static 'website\img\Linkedin_5.svg' %}" width="45px"></a>
            <a href="https://twitter.com/patricksteezy" target="_blank">
            <img src="{% static 'website\img\Twitter_5.svg' %}" width="45px"></a>
            <a href="https://www.youtube.com/channel/UCGx1QXH6RzOVZC46JuncfRw" target="_blank">
            <img src="{% static 'website\img\Youtube_5.svg' %}" width="45px"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; dev-patrick.com 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'website/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'website/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'website/js/scrolling-nav.js' %}"></script>

</body>

</html>
